{% extends "base.html" %}

{% set title='Not Found. DOH!' %}

{% block title %}404: {{ title }}{% endblock %}

{% block extra_head %}
  <style>
    .hit-the-road {
      text-align: center;
      margin-top: 40px;
      font-size: 5em;
    }
  </style>
{% endblock %}

{% block content %}
<section id="content" class="body">
  <div class="page-title">{{ title }}</div>
  <p>Well then... This is awkward. Perhaps you were looking for someone else?
     Anyway... Let's get outa here. Whaddya say‽</p>
  <p class="hit-the-road"><a href="http://reddit.com"><i class="icon-road"></i></a></p>
</section>
{% endblock %}
