<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">{{ .Site.Params.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{{ if .IsHome }} active{{ end }}" href="/">Home</a>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main -}}
      <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}"> {{ .Name }} </a>
      {{- end }}
    </nav>

    <div class="sidebar-social">
      <a href="https://twitter.com/pmclanahan" aria-label="Twitter"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      <a href="https://github.com/pmac" aria-label="Github"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <a href="https://people.mozilla.org/p/pmac" aria-label="people.mozilla.org"><i class="fa fa-firefox fa-2x" aria-hidden="true"></i></a>
      <a rel="me" href="https://mastodon.social/@pmac">Mastodon</a>
    </div>

    <div class="sidebar-social">
      <a title="Developers for Firefox" rel="nofollow" href="https://www.mozilla.org/firefox/this-browser-comes-highly-recommended/?utm_source=devs-for.firefox.com&utm_medium=referral&utm_campaign=devs-for-firefox&utm_content=Developers_For_Firefox_Light">
        <img style="border:0 none;" alt="Developers for Firefox" srcset="https://code.cdn.mozilla.net/for-firefox/badges/assets/Developers_For_Firefox_Light.png,
                   https://code.cdn.mozilla.net/for-firefox/badges/assets/Developers_For_Firefox_Light-2x.png 2x"
          src="https://code.cdn.mozilla.net/for-firefox/badges/assets/Developers_For_Firefox_Light.png">
      </a>
    </div>

    <p>
      <small>&copy; {{ now.Format "2006" }} Paul McLanahan
        <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
          <img alt="Creative Commons License" id="cc-license-image" src="https://i.creativecommons.org/l/by-sa/3.0/80x15.png">
        </a>
      </small>
    </p>
    {{ if .File.Path -}}
    {{- end }}
  </div>
</div>
